[Unit]
Description=Lighthouse: {{.Name}} (Next.js)
After=network.target

[Service]
User=lighthouse
Group=lighthouse
Type=simple
ExecStart={{if .StartCommand}}{{.StartCommand}}{{else}}{{if .IsExport}}npx --yes serve -l {{.Port}} out{{else}}{{.NpmBin}} run start{{end}}{{end}}
WorkingDirectory={{.AppDir}}
EnvironmentFile={{.EnvFile}}
Environment=PATH={{.PathEnv}}
Environment=NODE_ENV=production
Environment=PORT={{.Port}}
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier={{.Name}}

[Install]
WantedBy=multi-user.target